[Unit]
Description=synchronize ESPs on mirrored-disk systems
ConditionFileIsExecutable=/etc/rc.d/rc.bootsync
AssertPathIsSymbolicLink=/boot
AssertPathIsMountPoint=/boot
After=local-fs.target
After=rc-bootlink.service

[Service]
Type=forking
ExecStart=/etc/rc.d/rc.bootsync
RemainAfterExit=yes
GuessMainPID=no

[Install]
WantedBy=multi-user.target
